<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="Log" value="true"/>
    <add key="LogPath" value="E:\Work\WS\HFSWS\HFSWS.Test\bin\Debug\Log"/>
    <add key="SqlStr" value="Data Source = 192.168.5.222;Initial Catalog = HFSPAS;User Id = sa;Password = 123456;"/>
  </appSettings>
</configuration>
